@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
  --main:#2B2C28;
  --dark:#131515;
  --accent:#339989;
  --light:#7DE2D1;
  --white:#FFFAFB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--white);
  background: var(--main);
  font-family: Arial, Helvetica, sans-serif;
}

h2{
  color: var(--accent);
  font-size: 8vh;
  font-weight: bolder;
  text-align: center;
}

h3{
  color: var(--light);
  font-size: 5vh;
  font-weight: bold;
  text-align: center;
}

p{
  color: var(--white);
  color: --light;
  line-height: 1.8;
}
